.order-title {
  text-align: center;
}

.order-items {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 32px;
  list-style-type: none;
}

.order-container {
  display: flex;
  justify-content: space-between;
}

.order-total {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  margin: 32px;
}

.order-total-bottom {
  display: flex;
  justify-content: center;
}
